@import url('https://fonts.googleapis.com/css?family=Irish+Grover&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  

  header {
    background: white;
    padding: 15px 20px;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .nav-bar > a {
    font-size: 22px;
    font-weight: bold;
    color: #809671;
    font-family: Irish Grover;
    text-decoration: none;
  }
  
  .nav-bar ul {
    list-style: none;
    display: flex;
  }
  
  .nav-bar li {
    gap: 20px;
  }
  
  .nav-bar ul li a {
    color: #000000;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .nav-bar a:hover {
    background: #f5f5f5;
  }
  

  main {
    padding: 30px;
  }
  

  footer {
    background: #526645;
    color: white;
    padding: 30px 20px;
  }
  
  footer .redes {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  footer .redes a {
    color: white;
    font-family: Irish Grover;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer .redes img {
    width: 24px;
    height: 24px;
  }
  

  footer nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
  }
  
  /* Listas */
  footer ul {
    list-style: none;
  }
  
  footer li {
    margin-bottom: 8px;
  }
  
  footer a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: white;
  }
  
  footer .titulo-navegacao,
  footer .titulo-duvidas,
  footer .titulo-instucionais {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #fff;
  }